@using GerenciaTaller.Models
@model GerenciaTaller.Models.Consulta

@{
    ViewBag.Title = "Categoria";
}

<h2>Categoria</h2>

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Categoria.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Categoria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    



   


</head>
<div>
    <body>

        <div class="container">
            <div>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
            </div>
            <br>

            <p>
                <button  class="btn btn-default" type="button" onclick="location.href='@Url.Action("CategoriasAgregar", "Home")';return false;">Agregar Categoria</button>
            </p>          
            @foreach (GerenciaTaller.Models.Categoria categoria in Model.GetCategorias())
            {
                <div class="alert-info">
                    <div class="info">
                        <p><strong>Nombre: </strong>@categoria.GetNombre()</p>
                        <p><strong>Descripcion: </strong>@categoria.GetDescripcion()</p>
                        <p><strong>Familia: </strong>@categoria.GetFamilia().GetNombre()</p>
                    </div>
                    <div class="infoButtons">
                        @Html.ActionLink("Eliminar", "CategoriaEliminar", new { nombre = categoria.GetNombre() })
                        <br /> <br />
                        <button  class="btn btn-default" id=@("btn" + categoria.GetNombre().Replace(" ", "")) onclick="MostrarEditForm('@categoria.GetNombre().Replace(" ", "")')">Editar</button>
                    </div>
                </div>
                <div class="edit" id=@("editForm" + categoria.GetNombre().Replace(" ", "")) align="center">
                    <hr />
                    <div class="editForm">
                        <form action="../Home/CategoriaEditar" method="POST" id=@("form" + categoria.GetNombre().Replace(" ", ""))>
                            <div class="form-group">
                                <label for="txtNombre">Nombre</label>
                                <input class="form-control" id="txtNombre" name="txtNombre" type="text" value="@categoria.GetNombre()" readonly>
                            </div>
                            <div class="form-group">
                                <label for="txtDescripcion">Descripcion</label>
                                <input class="form-control input-lg" id=@("txtDescripcion" + categoria.GetNombre().Replace(" ", "")) name="txtDescripcion" type="text" value="@categoria.GetDescripcion()">
                            </div>
                            <button type="button"  class="btn btn-default" onclick="Editar('@categoria.GetNombre().Replace(" ", "")')">Editar</button>
                        </form>
                    </div>
                </div>
                <br />
                <hr />
            }

        </div>

        @*<script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $(".dropdown-menu li").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>*@


    </body>
</div>
</html>
